.loginleftsec{
height: 100%;
padding: 5%;

.loginLeftsecchild{

    h4{
        font-weight: 400 ;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    display: flex;
    flex-direction: column;
    gap: 27%;

img{
    margin-left: auto;
    width: 85%;
    height: auto;
}

    p{
    font-weight: 500;
    font-size: clamp(10px, 1.6vw, 18px);
span{
    color: rgb(173, 172, 172);
}

a{
    color: black;

}
    }
}




}


@media (max-width: 767px) {
    
    .loginleftsec{
height: auto;

img{
    width:25% !important;
    margin: 0 !important;
}




}



}